# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
.turbo/
coverage/
playwright-report/
test-results/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# tsbuildinfo
*.tsbuildinfo
storage/
storage-test/
